// Text Color
%themecolor {
  color: $theme-color;
}

%textBlack {
  color: #000000;
}

%textBlack22 {
  color: #222222;
}

%bodyColor {
  color: #535353;
}

%textwhite {
  color: #ffffff;
}

%color-1 {
  color : #8956e2;
}

%color-2 {
  color : #11ccd3;
}

%color-3 {
  color : #f4769a;
}

%color-4 {
  color : #2f21b3;
}

// Bg Color
%bgthemecolor {
  background: $theme-color;
}

%bgwhitecolor {
  background: $white;
}

%bgBlack {
  background: #000000;
}


%bgColor-1 {
  background : #8956e2;
}

%bgColor-2 {
  background : #11ccd3;
}

// Style Css
%liststyle {
  padding: 0;
  margin: 0;
  list-style: none;
}
.liststyle {
  padding: 0;
  margin: 0;
  list-style: none;
}

%transition {
  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}

%font {
  font-family: $body-font;
}

// Flexbox Extend

%flexbox {
  @include flexbox;
}

%flex-wrap {
  @include flex-wrap(wrap);
}

%flex-nowrap {
  @include flex-wrap(nowrap);
}

// Bootstrap
%block {
  display: block;
}

p:last-child {
  margin-bottom: 0;
}

// Font Family
%bgImagePosition {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}