 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer,
header,
nav,
section {
  display: block;
}

[hidden] {
  display: none;
}
html,
button {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}
a {
  color: #ca3c08;
  text-decoration: none;
}
a:visited {
  color: #ac0404;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  color: #ea9629;
  outline: 0;
}
a:hover {
  text-decoration: underline;
}

b,
strong {
  font-weight: bold;
}

p {
  margin: 0 0 24px;
}

q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

menu,
ol,
ul {
  margin: 16px 0;
  padding: 0 0 0 40px;
}
ul {
  list-style-type: square;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
li>ul,
li>ol {
  margin: 0;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}

button {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  line-height: normal;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

hr {
  background-size: 4px 4px;
  border: 0;
  height: 1px;
  margin: 0 0 24px;
}