/*==============================
 *  Utilities
=================================*/
/*====================================
    Google Font  
===================================*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700,800,900|Poppins:300,400,500,600,700,700i&display=swap");

/*----------------------------------------
font-family: "Montserrat", sans-serif;
font-family: "Poppins", sans-serif;

-------------------------------------*/

.hidden {
    display: none;
}
.fix{
    overflow: hidden;
}

.wrapper {
    position: relative;
}

/* Define Colors */
.theme-color {
    color: $theme-color;
}

/*===============================
    Background Color 
=================================*/

@include config-bg-colors("bg_color--",
"1"$white,
"2"$theme-color,
"3"#f8f9fc,
"4"#1a1b1f,
"5"#f8f9fc,
"6"#000000,
"7"#101010
);

.bg_image {
    @extend %bgImagePosition;
}

@for $i from 1 through 32 {
    .bg_image--#{$i} {
        // background-image: url(/assets/images/bg/bg-image-#{$i}.jpg) !important;
        background-image: url("../images/bg/bg-image-#{$i}.jpg") !important;
    }
}

p {
    font-size: 18px;
    line-height: 30px;
    @media #{$sm-layout} {
        font-size: 16px !important;
        line-height: 28px !important;
    }
}

p:last-child{
    margin-bottom: 0;
}

/*===================
Custom Row
======================*/
.row--35 {
    margin-left: -35px;
    margin-right: -35px;

    // Responsive
    @media #{$laptop-device} {
        margin-left: -25px;
        margin-right: -25px;
    }

    @media #{$lg-layout} {
        margin-left: -25px;
        margin-right: -25px;
    }

    @media #{$md-layout} {
        margin-left: -15px;
        margin-right: -15px;
    }

    @media #{$sm-layout} {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }

    &>[class*="col"],
    &>[class*="col-"] {
        padding-left: 35px;
        padding-right: 35px;

        // Responsive
        @media #{$laptop-device} {
            padding-left: 25px;
            padding-right: 25px;
        }

        @media #{$lg-layout} {
            padding-left: 25px;
            padding-right: 25px;
        }

        @media #{$md-layout} {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        @media #{$sm-layout} {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
}

/*=============================
	Overlay styles 
==============================*/

[data-black-overlay] {
    position: relative;
    z-index: 1;
}

[data-black-overlay]>div,
[data-black-overlay]>* {
    position: relative;
    z-index: 1;
}

[data-black-overlay]:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

[data-black-overlay]:before {
    background-color: #00010c;
}

@for $i from 1 through 10 {
    [data-black-overlay="#{$i}"]:before {
        opacity: #{$i * 0.10};
    }
}

.thumb, .thumbnail{
    img{
        border-radius: 6px;
    }
}