@import "../Assets/scss/variables";

.about__wrapper {
  background: #191919;

  .container {
    padding-top: 120px;
    padding-bottom: 120px;

    .about__thumbnail {
      max-width: 100%;
      border-radius: 5px;
      box-shadow: 0 25px 65px rgba(0,0,0,.10);
    }

    .col-lg-7 {
      @media #{$md-layout} {
        margin-top: 5rem;
      }
      @media #{$sm-layout} {
        margin-top: 4rem;
      }
      @media #{$large-mobile} {
        margin-top: 3rem;
      }
    }

    .about__content {
      // margin-top: -20px;

      &__title {
        color: #ffffff;
        font-size: 60px;
        margin-bottom: 8px;
        
        @media #{$lg-layout} {
            font-size: 50px;
        }
        @media #{$sm-layout} {
            font-size: 36px;
            margin-bottom: 7px;
        }
      }

      p {
        font-size: 18px;
        line-height: 30px;
        color: rgba(198, 201, 216, 0.75);
        a {
          color: rgba(29, 29, 36, 1);
          font-weight: 500;
          &:hover {
            color: $theme-color;
          }
        }

      &:last-child {
        margin-bottom: 0;
      }
      }
    }

    &__tabs {
      margin-top: 30px;
    }
  }
}