@import "../Assets/scss/variables";

.skills__wrapper {
  background: #101010;

  .container {
    padding-top: 120px;
    padding-bottom: 120px;

    h2 {
      color: #ffffff;
      margin-top: -20px;
      margin-bottom: 30px;
    }
  }
}