@import "../Assets/scss/variables";

.skills__wrapper {
  background: #101010;

  .container {
    padding-top: 120px;
    padding-bottom: 120px;

    h2 {
      color: #ffffff;
      margin-top: -20px;
      margin-bottom: 30px;
    }
  }
}

// .skills-tabs {
//   // @extend %liststyle;
//   padding: 0;
//   margin: 0;
//   list-style: none;
//   display: flex;
//   flex-direction: row;
//   margin-bottom: 20px;
//   justify-content: space-evenly;
//   flex-wrap: wrap;

//   li {
//     position: relative;
//     margin: 0 20px;
//     display: inline-block;
//     padding-bottom: 4px;
//     font-size: 29px;
//     font-weight: 500;
//     outline: none;
//     color: white;
//     cursor: pointer;

//     @media #{$lg-layout} {
//       margin: 0 10px;
//       font-size: 28px;
//     }

//     @media #{$sm-layout} {
//       margin-bottom: 10px;
//     }

//     &::before {
//       position: absolute;
//       content: "";
//       width: 30px;
//       background: rgba(198, 201, 216, 0.75);
//       transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
//       height: 2px;
//       bottom: 0;
//     }

//     &.react-tabs__tab--selected {
//       color: $theme-color;
//       &::before {
//         width: 100%;
//         background-color: currentColor;
//       }
//     }
//   }
// }
