// .projectContainer {
//  width: 90vw;
//  margin: 0;
//  padding: 0;

.projectDeck {
  margin: 0;
  padding: 0;
  width: 80vw;
  justify-content: space-evenly;
  display: flex;
  text-align: center;

  .projectCard {
    padding: 0;
    margin: 20px 0;
    height: 25rem;
    width: 20rem;
    flex: inherit;
  }
}
