.App {
  width: 100%;
  background-color: black;
}

.Main {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  background-color: #18181b;
  color: #f4f4f5;
  padding: 2rem 5rem;
}

.About {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.About__Left {
  width: 55%;
}

.About__Right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 1rem;
}

.About__Right h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
}

.About__Right p {
  color: #a1a1aa;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-top: 1.5rem;
  /* margin-bottom: 1.5rem; */
}

.About__Right .About__Hire {
  border: 2px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: white;
}

.About__Right .About__Hire:hover {
  border-color: #f9004d;
  transform: translateY(-3px);
  background: #f9004d;

}
.About__Footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.About__Hire {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.About__Social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.About__Social li {
  margin: 0 1rem;
}

.Header {
  /* width: 40%; */
  width: fit-content;
  background-color: #252529;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
  padding: 1rem 2rem;
}

.Header a {
  color: #f4f4f5;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.Header li {
  padding-left: 1rem;
  padding-right: 1rem;
}

.Header__List {
  display: flex;
  justify-content: space-evenly;
}

/* .Home {
  width: 100%;
  height: 90%;
  background-image: url("./cat_loops.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  width: 100%;
  /* padding: 20px 0; */
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 15%;
  justify-content: space-around;
}

.header-left {
  width: 20%;
  align-items: center;
  height: 100%;
}

.header-left ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.header-right {
  display: flex;
  width: 30%;
  align-items: center;
  height: 100%
}

.header-right ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
} 

.header-btn {
  width: inherit;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
