.Header {
  width: fit-content;
  background-color: #252529;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
  padding: 1rem 2rem;
}

.Header a {
  color: #f4f4f5;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.Header li {
  padding-left: 1rem;
  padding-right: 1rem;
}

.Header__List {
  display: flex;
  justify-content: space-evenly;
}