body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  background: rgb(245, 229, 229);
}

// h3 {
//   margin-bottom: 0;
//   padding: 0;
// }